accelerate==0.25.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
asttokens 
backoff==2.2.1
blinker==1.7.0
blis==0.7.11
catalogue==2.0.10
certifi==2023.11.17
CFGraph==0.2.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cmake==3.28.1
comm 
confection==0.1.4
contourpy==1.2.1
curated-tokenizers==0.0.8
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.8
debugpy
decorator 
filelock==3.13.1
Flask==3.0.0
Flask-Cors==4.0.0
fonttools==4.51.0
fsspec==2023.12.2
huggingface-hub==0.17.3
idna==3.6
importlib-metadata 
ipykernel 
ipython 
isodate==0.6.1
itsdangerous==2.1.2
jedi
Jinja2==3.1.2
joblib==1.3.2
jsonasobj==1.3.1
jupyter_client 
jupyter_core 
kiwisolver==1.4.5
langcodes==3.3.0
lit==17.0.6
MarkupSafe==2.1.3
matplotlib==3.8.4
matplotlib-inline
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.10
mwoauth==0.4.0
nest-asyncio
networkx==3.2.1
nltk==3.8.1
numpy==1.26.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
packaging 
pandas==2.1.4
parso 
pexpect 
pickleshare 
Pillow==10.1.0
platformdirs 
preshed==3.0.9
prompt-toolkit 
psutil
ptyprocess 
pure-eval 
pydantic==2.5.2
pydantic_core==2.14.5
Pygments 
PyJSG==0.11.10
PyJWT==2.8.0
pyparsing==3.1.1
PyShEx==0.8.1
PyShExC==0.9.1
python-dateutil 
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq 
rdflib==7.0.0
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
shexer==2.2.2
ShExJSG==0.8.2
simplejson==3.19.2
six
smart-open==6.4.0
spacy==3.7.2
spacy-curated-transformers==0.2.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
srsly==2.4.8
stack-data
sympy==1.12
thinc==8.2.2
threadpoolctl==3.2.0
timm==0.9.7
tokenizers==0.14.1
torch==2.0.1
torchvision==0.15.2
tornado 
tqdm==4.62.3
traitlets
transformers==4.34.0
triton==2.0.0
typer==0.9.0
typing_extensions
tzdata==2023.3
urllib3==2.1.0
wasabi==1.1.2
wcwidth 
weasel==0.3.4
Werkzeug==3.0.1
wikidataintegrator==0.9.30
wlighter==1.0.1
xxhash==3.4.1
yarl==1.9.3
zipp
